
.container {
    background-color: rgb(165, 239, 155);
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas:
    'header header header header'
    'sidebar content content sidebar2'
    'footer footer footer footer'
    
}

.container div {
    background-color: rgb(86, 121, 236);
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    
}
#header {
    grid-area: header;
}
#sidebar {
    grid-area: sidebar;
    height: 50vh;
}
#content {
    grid-area: content;
    height: 50vh;
}
#footer {
    grid-area: footer;
}